@font-face {
  font-family: 'playfair';
  font-display: swap;
  font-weight: 100 800;
  src: url("/fonts/PlayfairDisplay-VariableFont_wght.woff2") format("woff2");
}

@font-face {
  font-family: 'playfairBold';
  font-display: swap;
  font-weight: 700;
  src: url("/fonts/PlayfairDisplayBold.woff2") format("woff2");
}

@font-face {
  font-family: 'playfairExtraBold';
  font-display: swap;
  font-weight: 800;
  src: url("/fonts/PlayfairDisplayExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: 'poppins';
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'poppinsSemiBold';
  font-display: swap;
  font-weight: 700;
  src: url("/fonts/PoppinsSemiBold.woff2") format("woff2");
}

@font-face {
  font-family: 'openSans';
  font-display: swap;
  font-weight: 100 800;
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.woff2") format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: 100 800;
  src: url("/fonts/Montserrat-VariableFont_wdth.woff2") format("woff2");
}

@import "tailwindcss";
@plugin '@tailwindcss/typography';

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    overflow-x: hidden;
    max-width: 100vw;
  }

  body {
    overflow-x: hidden;
    max-width: 100vw;
  }

}


@theme {
  --font-playfair: playfair, system-ui, sans-serif;
  --font-playfairBold: playfairBold, system-ui, sans-serif;
  --font-playfairExtraBold: playfairExtraBold, system-ui, sans-serif;
  --font-poppins: poppins, system-ui, sans-serif;
  --font-poppinsSemiBold: poppinsSemiBold, system-ui, sans-serif;
  --font-opensans: openSans, system-ui, sans-serif;
  --font-montserrat: montserrat, sans-serif;


  --color-softWhite: oklch(0.997 0 0);
  --color-softBeige: oklch(0.9643 0.007 88.64);
  --color-accentGold: oklch(0.8987 0.119 87.54);
  --color-softLavender: oklch(0.8166 0.0659 291.7);
  --color-salviaGreen: oklch(0.761 0.0408 138.18);
  --color-accentGreen: oklch(0.5366 0.081 179.54);
  --color-smokyBlack: oklch(0.3052 0 0);
  --color-sandRose: oklch(0.7638 0.0655 28.26);
  --color-deepplum: oklch(0.3911 0.0534 7.52);


  /* --breakpoint-md: 769px; */
}