---
import LightBulbIcon from "@/assets/icons/lightBulbOff.svg";
import CogIcon from "@/assets/icons/cogOff.svg";
import LowBatteryIcon from "@/assets/icons/lowBattery.svg";
---

<section class="client-hurts-section max-w-7xl mx-auto px-2 py-16">
  <h1
    class="hurts-title text-[min(10vw,42px)] text-center text-smokyBlack dark:text-softWhite font-playfair font-medium tracking-tight mb-16"
  >
    ¿Te suena familiar esta historia?
  </h1>

  <div
    class="client-hurts-container flex flex-col items-center gap-5 max-w-4xl mx-auto"
  >
    <!-- Invisibility -->
    <div
      class="hurts-item flex flex-col bg-softBeige dark:bg-smokyBlack dark:border dark:border-softWhite/20 dark:p-2 dark:rounded-2xl dark:shadow-md dark:shadow-softWhite/10 lg:flex-row items-center gap-8 p-4 rounded-2xl shadow-xl opacity-0"
    >
      <div
        class="flex flex-col items-center gap-2 border-b border-smokyBlack/40 lg:border-b-0 lg:border-r lg:border-smokyBlack/40 lg:pr-4"
      >
        <LightBulbIcon
          class="w-14 h-14 [&_rect]:dark:fill-softWhite [&_path]:dark:stroke-softWhite"
        />
        <p
          class="text-[min(10vw,18px)] text-smokyBlack dark:text-softWhite font-openSans text-center"
        >
          Invisibilidad
        </p>
      </div>
      <div class="">
        <p
          class="text-split text-[min(10vw,18px)] text-smokyBlack dark:text-softWhite font-openSans opacity-0"
        >
          Publicas en redes sin estrategia, tu web no atrae a nadie y dependes
          al 100% de referidos para conseguir clientes.
        </p>
      </div>
    </div>
    <!-- Tech Debt -->
    <div
      class="hurts-item flex flex-col bg-softBeige dark:bg-smokyBlack dark:border dark:border-softWhite/20 dark:p-2 dark:rounded-2xl dark:shadow-md dark:shadow-softWhite/10 lg:flex-row items-center gap-8 p-4 rounded-2xl shadow-xl opacity-0"
    >
      <div
        class="flex flex-col items-center gap-2 border-b border-smokyBlack/40 lg:border-b-0 lg:border-r lg:border-smokyBlack/40 lg:pr-4"
      >
        <CogIcon
          class="w-14 h-14 [&_rect]:dark:fill-softWhite [&_path]:dark:stroke-softWhite"
        />
        <p
          class="text-[min(10vw,18px)] text-smokyBlack dark:text-softWhite font-openSans text-center"
        >
          Frustración Tecnológica
        </p>
      </div>
      <div class="">
        <p
          class="text-split text-[min(10vw,18px)] text-smokyBlack dark:text-softWhite font-openSans opacity-0"
        >
          Tu página web es lenta, te da constantes dolores de cabeza con el
          mantenimiento y cada pequeño cambio depende de un programador que
          tarda semanas en responder.
        </p>
      </div>
    </div>
    <!-- Low Battery -->
    <div
      class="hurts-item flex flex-col bg-softBeige dark:bg-smokyBlack dark:border dark:border-softWhite/20 dark:p-2 dark:rounded-2xl dark:shadow-md dark:shadow-softWhite/10 lg:flex-row items-center gap-8 p-4 rounded-2xl shadow-xl opacity-0"
    >
      <div
        class="flex flex-col items-center gap-2 border-b border-smokyBlack/40 lg:border-b-0 lg:border-r lg:border-smokyBlack/40 lg:pr-4"
      >
        <LowBatteryIcon
          class="w-14 h-14 [&_rect]:dark:fill-softWhite [&_path]:dark:stroke-softWhite"
        />
        <p
          class="text-[min(10vw,18px)] text-smokyBlack dark:text-softWhite font-openSans text-center"
        >
          Agotamiento
        </p>
      </div>
      <div class="">
        <p
          class="text-split text-[min(10vw,18px)] text-smokyBlack dark:text-softWhite font-openSans opacity-0"
        >
          Intentas hacerlo todo tú mismo CEO vendedor estratega creador de
          contenido y terminas agotado robándole tiempo a tu familia y a la
          visión de tu negocio.
        </p>
      </div>
    </div>
  </div>
</section>

<script>
  import hurtsAnimation from "@/utils/scripts/perPageAnimations/home/hurtsAnimation.js";

  document.addEventListener("DOMContentLoaded", () => {
    hurtsAnimation();
  });
</script>
