---
import Button from "@/components/ui/button.astro";
---

<section class="max-w-7xl mx-auto">
    <div
        class="hero m-4 min-h-screen flex flex-col md:flex-row items-center justify-center gap-5"
    >
        <div
            class="hero-title flex items-center justify-center text-center p-5 md:text-left"
        >
            <h1
                class="text-[min(10vw,76px)] font-extrabold font-playfair leading-tight tracking-tight"
            >
                <div>
                    <span class="text-softLavender">N</span><span
                        >o necesitas</span
                    >
                    <span class="text-softLavender"> gritar</span>
                </div>
                <span class="md:block">para ser </span>
                <span>escucha</span><span class="text-softLavender">do.</span>
            </h1>
        </div>
        <div
            class="hero-subtitle flex items-center justify-center p-5 md:text-left md:pt-48"
        >
            <div
                class="flex flex-col items-center justify-center md:items-start space-y-5 p-5"
            >
                <h2
                    class="text-[min(5vw,20px)] text-center md:text-left font-medium font-poppins"
                >
                    <span class="block">Construimos tu presencia</span>
                    <span class="block">digital con estrategia,</span>
                    <span class="block">propósito y paz.</span>
                </h2>
                <Button variant="primary">Conoce más</Button>
            </div>
        </div>
    </div>
</section>
