<div id="solution" class="relative">
  <div class="solution-way">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 350">
      <path
        id="path"
        style="fill: none; stroke-width: 5px; stroke-linecap: round; stroke: oklch(0.31 0 0);"
        d="M 39.586 55.574 C 33.543 88.176 70.908 124.38 106.113 121.395 C 136.042 118.857 139.005 89.528 127.227 76.198 C 115.912 63.393 102.29 60.966 86.915 68.919 C 74.099 75.549 67.9 94.749 84.766 116.233 C 100 135.638 137.218 142.734 176.181 138.886"
      ></path>
      <path
        id="star"
        style="stroke: oklch(0.9 0.12 87.5); paint-order: stroke; fill: oklch(0.9 0.12 87.5); stroke-linejoin: round;"
        d="M 39.994 36.859 L 37.065 44.607 L 29.378 44.851 L 35.479 49.183 L 32.733 57.481 L 39.567 52.356 L 46.034 57.664 L 43.715 49.305 L 50 44.729 L 42.373 44.607 C 42.559 44.607 39.994 36.859 39.994 36.859 Z"
      ></path>
    </svg>
  </div>
  <div class="solution-content">
    <h2>
      ¿Tu talento merece llegar más lejos, pero el mundo digital te abruma?
    </h2>
    <p></p>
  </div>
</div>

<script>
  import { gsap } from "gsap";
  import { MotionPathPlugin } from "gsap/MotionPathPlugin";

  gsap.registerPlugin(MotionPathPlugin);

  gsap.to("#star", {
    duration: 2,
    ease: "none",
    motionPath: {
      path: "#path",
      align: "#path",
      alignOrigin: [0.5, 0.5],
      autoRotate: -10,
    },
  });
</script>
