---
const { className } = Astro.props;
---

<section
  id="solution"
  class:list={[
    "solution-section to-smokyBlack-section w-full mx-auto",
    className,
  ]}
>
  <div class="max-w-6xl mx-auto flex flex-col items-center gap-4">
    <div class="solution-content text-center max-w-4xl">
      <p
        class="text-[min(7vw,30px)] font-playfair font-medium bg-slate tracking-tight mb-6"
        style="color: oklch(96.8% 0.007 247.896);"
      >
        Eres un <span class="italic font-bold">experto</span> en lo que haces. Has
        construido un negocio a base de
        <span class="italic font-bold">esfuerzo</span> y <span
          class="italic font-bold">excelencia</span
        >. ¿Pero sientes que falta estrategia? En Shine, no te damos trucos de <span
          class="italic font-bold">marketing</span
        >. Te entregamos la estrategia y la tecnología para que tu negocio
        refleje la <span class="italic font-bold">calidad de tu trabajo</span>,
        atraiga un flujo constante de <span class="italic font-bold"
          >clientes ideales</span
        > y te posicione como el
        <span class="italic font-bold">referente</span> que estás destinado a ser.
      </p>
    </div>
    <!-- SVG decorativo -->
    <div class="solution-way w-full max-w-md">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="80 80 200 150"
        class="w-full h-auto"
      >
        <path
          id="path"
          class="stroke-smokyBlack dark:stroke-softWhite"
          style="fill: none; stroke-linejoin: round; stroke-linecap: round; stroke-width: 5px;"
          d="M 110.09 100 C 105.045 147.684 130.181 179.941 157.065 174.993 C 158.514 174.726 185.082 169.144 186.617 139.066 C 187.791 116.066 161.328 122.529 154.126 126.462 C 120.237 144.966 133.787 186.364 173.417 183.386 C 196.278 181.668 225.341 176.49 223.051 210.722"
        ></path>

        <path
          id="arrow"
          class="opacity-0 stroke-smokyBlack dark:stroke-softWhite fill-softWhite dark:fill-smokyBlack"
          style="stroke-linejoin: round; stroke-linecap: round; stroke-width: 5px;"
          d="M 219.276 208.376 L 231.338 216.122 L 218.539 223.788 L 219.276 208.376 Z"
        ></path>
      </svg>
    </div>
  </div>
</section>

<script>
  import { solutionsAnimation } from "@/utils/scripts/perPageAnimations/home/solutionsAnimation.js";
  document.removeEventListener("DOMContentLoaded", solutionsAnimation);
  document.addEventListener("DOMContentLoaded", solutionsAnimation);
</script>
