---
const { className } = Astro.props;
---

<section
  id="solution"
  class:list={[
    "solution-section to-softLavender-section w-full mx-auto",
    className,
  ]}
>
  <div class="max-w-6xl mx-auto flex flex-col items-center gap-4">
    <div class="solution-content text-center max-w-4xl">
      <p
        class="text-[min(7vw,42px)] font-playfair font-medium bg-slate tracking-tight mb-6"
        style="color: oklch(96.8% 0.007 247.896);"
      >
        En Shine creemos que brillar es <span class="italic font-bold"
          >servir,
        </span>transformar y <span class="italic font-bold">mostrar</span> lo mejor
        de ti sin perder tu esencia. Por eso te <span class="italic font-bold"
          >accompañamos</span
        > en cada paso del camino
        <span class="italic font-bold">digital</span>, creando experiencias
        auténticas que <span class="italic font-bold">conectan</span> con tu audiencia
        y potencian tu <span class="italic font-bold">crecimiento</span>.
      </p>
    </div>
    <!-- SVG decorativo -->
    <div class="solution-way w-full max-w-md">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="80 80 200 150"
        class="w-full h-auto"
      >
        <path
          id="path"
          style="stroke: oklch(0.3052 0 0); fill: none; stroke-linejoin: round; stroke-linecap: round; stroke-width: 5px;"
          d="M 110.09 100 C 105.045 147.684 130.181 179.941 157.065 174.993 C 158.514 174.726 185.082 169.144 186.617 139.066 C 187.791 116.066 161.328 122.529 154.126 126.462 C 120.237 144.966 133.787 186.364 173.417 183.386 C 196.278 181.668 225.341 176.49 223.051 210.722"
        ></path>

        <path
          id="arrow"
          class="opacity-0"
          style="stroke-linejoin: round; stroke-linecap: round; stroke-width: 5px; stroke: oklch(0.31 0 0); fill: oklch(1 0 0)"
          d="M 219.276 208.376 L 231.338 216.122 L 218.539 223.788 L 219.276 208.376 Z"
        ></path>
      </svg>
    </div>
  </div>
</section>

<script>
  import { solutionsAnimation } from "@/utils/scripts/solutionsAnimation.js";
  document.removeEventListener("DOMContentLoaded", solutionsAnimation);
  document.addEventListener("DOMContentLoaded", solutionsAnimation);
</script>
