---

---

<div>
  <h1 class="text-9xl font-playfair font-bold">Whereas recognition</h1>
  <h1 class="text-9xl font-raleway font-extrabold leading-tight tracking-tight">
    Whereas recognition
  </h1>
</div>
