---
import AstroIcon from "@/assets/icons/astro.svg";
import NetlifyIcon from "@/assets/icons/netlify.svg";
import TailwindIcon from "@/assets/icons/tailwindcss.svg";
import CloudflareIcon from "@/assets/icons/cloudflare.svg";
---

<section class="techStack-section">
  <!-- Slider main container -->
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <a href="https://astro.build/">
          <AstroIcon />
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://tailwindcss.com/">
          <TailwindIcon />
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://netlify.com/">
          <NetlifyIcon />
        </a>
      </div>
      <div class="swiper-slide">
        <a href="https://cloudflare.com/">
          <CloudflareIcon />
        </a>
      </div>
    </div>
  </div>
</section>
