---

---

<section class="w-full mx-auto max-w-6xl py-10 lg:py-20">
  <div class="hero-container flex flex-col items-center justify-center">
    <h1
      class="hero-title text-[min(10vw,72px)] text-center lg:text-left font-playfair font-bold text-smokyBlack tracking-tight"
    >
      Quienes Somos
    </h1>
    <div class="bio-container flex flex-col">
      <div class="bio-rocio p-8 rounded-2xl">
        <div class="">
          <h2
            class="bio-rocio-title text-[min(6vw,32px)] mb-4 font-playfair font-bold text-smokyBlack tracking-tight"
          >
            <span>Rocio Parra</span>
            <span class="block">Directora de Estrategia</span>
          </h2>
        </div>
        <div class="mx-auto max-w-4xl">
          <p
            class="bio-rocio-description font-opensans text-lg text-smokyBlack tracking-tight"
          >
            Con más de una década liderando estrategias de marketing, Rocío es
            la mente maestra detrás de cómo tu marca puede resonar y atraer a
            tus clientes ideales. Su empatía y visión te darán la claridad para
            trazar un plan que no solo genere leads, sino que construya una
            reputación sólida y duradera.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
