---
import { Image } from "astro:assets";
import DiegoRocioBlack from "@/assets/images/diegoyrochiblack.webp";
import DiegoRocio from "@/assets/images/diegoyrochi.webp";
---

<section id="about" class="w-full mx-auto">
  <div id="wrapper-about" class="max-w-6xl mx-auto py-10 lg:py-20">
    <!-- Title -->
    <div id="about-title" class="flex items-center justify-center">
      <h1
        class="text-center text-[min(10vw,72px)] font-playfair font-bold text-smokyBlack"
      >
        No somos una agencia más!
      </h1>
    </div>
    <div class="about-content-wrapper mx-auto">
      <!-- our Image -->
      <div
        class="about-hero flex flex-col lg:flex-row items-center justify-between mb-8"
      >
        <div class="hero-image lg:w-1/2 relative">
          <Image
            id="diegorochiblack"
            src={DiegoRocioBlack}
            priority
            alt="Somos Rocío y Diego"
            class="w-full h-auto object-cover backdrop-opacity-100"
          />
          <Image
            id="diegorochi"
            src={DiegoRocio}
            priority
            alt="Somos Rocío y Diego"
            class="w-full h-auto object-cover absolute top-0 left-0 opacity-0 pointer-events-none"
          />
        </div>
        <div
          class="flex flex-col items-center justify-center text-center max-w-2xl lg:w-1/2"
        >
          <h1
            class="split-title opacity-0 text-[min(10vw,42px)] font-playfair text-smokyBlack mb-8 leading-tight tracking-tight"
          >
            Somos Rocío
            <span class="block">y Diego</span>
          </h1>
          <div class="about-content lg:max-w-prose mx-auto px-2 lg:px-4">
            <p
              class="split-text opacity-0 text-smokyBlack font-openSans text-center text-[min(7vw,24px)]"
            >
              Emprendedores, padres y esposos. Entendemos el sacrificio que
              implica construir un negocio con propósito porque lo vivimos cada
              día. Por eso unimos nuestros dones la
              <span class="font-bold text-deepplum italic">
                estrategia de marketing y la excelencia tecnológica</span
              >
              para ofrecerte la solución integral que nunca tuviste: un socio que
              entiende tanto tu balance de resultados como tu anhelo de equilibrio
              y paz.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { aboutHeroAnimation } from "@/utils/scripts/perPageAnimations/about/aboutHeroAnimation";

  document.removeEventListener("DOMContentLoaded", aboutHeroAnimation);
  document.addEventListener("DOMContentLoaded", aboutHeroAnimation);
</script>
