---
import ContactForm from "@/components/ui/ContactForm.astro";
import Star from "@/assets/icons/star40x40.svg";
import Rocket from "@/assets/images/rocket.webp";
import { Image } from "astro:assets";
---

<section class="contact-section w-full mx-auto">
  <div class="text-center mx-auto py-10 lg:py-20">
    <h1
      class="text-[min(10vw,72px)] font-playfair font-bold text-smokyBlack mb-8"
    >
      Contacto
    </h1>
    <h2 class="text-[min(7vw,40px)] font-playfair italic text-smokyBlack">
      Cuéntanos tu idea, estamos listos para escucharte
    </h2>
  </div>
  <div
    class="flex flex-col md:flex-row items-center justify-center max-w-6xl mx-auto gap-8"
  >
    <div class="md:w-1/2">
      <div class="relative items-center justify-center hidden lg:flex">
        <!-- Random positioned stars -->
        <Star class="absolute top-18 left-20 animate-pulse" />
        <Star class="absolute top-32 right-16 animate-pulse delay-300" />
        <Star class="absolute bottom-24 left-12 animate-pulse delay-700" />
        <Star class="absolute bottom-16 right-24 animate-pulse delay-500" />
        <Star class="absolute bottom-32 right-12 animate-pulse delay-400" />
        <Star class="absolute bottom-42 left-12 animate-pulse delay-400" />

        <!-- Rocket -->
        <Image
          id="contact-rocket"
          src={Rocket}
          alt="Rocket"
          height={350}
          width={350}
          class="relative z-10 opacity-0"
        />
      </div>
    </div>
    <div id="contact-form" class="md:w-1/2 opacity-0">
      <ContactForm />
    </div>
  </div>
</section>

<script>
  import {
    contactRocketAnimation,
    launchRocket,
  } from "@/utils/scripts/contactRocketAnimation.js";

  document.removeEventListener("DOMContentLoaded", contactRocketAnimation);
  document.addEventListener("DOMContentLoaded", contactRocketAnimation);

  // Listen for form success event
  document.addEventListener("formSuccess", () => {
    setTimeout(() => {
      launchRocket();
    }, 300); // Small delay after success message appears
  });
</script>
