---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="flex flex-col items-center justify-center gap-2">
  <div
    class="mouse relative border border-smokyBlack h-[40px] w-[25px] rounded-full bg-transparent hidden sm:flex"
  >
    <div
      class="mouse_weel absolute top-2 left-[9.5px] h-[10px] w-[5px] rounded-2xl bg-smokyBlack"
    >
    </div>
  </div>
  <p
    class="text-smokyBlack font-openSans text-[min(5vw,18px)] hover:underline hover:underline-offset-2 cursor-pointer"
  >
    {text}
  </p>
</div>

<style>
  .mouse:hover .mouse_weel {
    transform: translateY(5px);
    transition: transform 0.3s ease-in-out;
  }
</style>
