---
import "@/styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/android-chrome-512x512.png" sizes="512x512">
		<link rel="shortcut icon" href="/favicon.ico">

		<title>Shine</title>
	</head>
	<body class="w-full p-0 m-0 overflow-x-hidden">
        
        <main class="w-full mx-auto bg-softWhite">
            <slot />
         </main>
		
	</body>
</html>