---
import "../styles/global.css";
import NavBar from "@/components/shared/NavBar.astro";
import Footer from "@/components/shared/Footer.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
    </head>
    <body class="w-full p-0 m-0">
        <NavBar />
        <main class="w-full mx-auto">
            <div>
                <slot />
            </div>
        </main>
        <Footer />
    </body>
</html>
